@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Anton', sans-serif;
}

body{
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
}

/* Navigation Bar */

.navbar-brand img{
    width: 110px;
    margin-left: 3.5rem;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-item a{
    text-decoration: none;
    color: black;
}

.nav-item a:active{
    color: orange;
}

/* Home Section */

.slider{
    padding: 0;
}

.aims .col{
    padding: 50px;
    color: white;
    border-style: double;
    position: relative;
}

.rescue{
    background-color: #4e4e4e;
}

.feed{
    background-color: #fd5f00;
}

.free{
    background-color: #a23131;;
}

.home p{
    color: #939393;
}

/* About Section */

.about{
    background: rgba(205,165,88,.95);
    padding: 112px 110px;
}

.about .section-title{
    font-size: 3rem;
    font-weight: 700;
}

.about .details{
    margin-left: 4rem;
}

@media screen and (max-width:992px){
    .about .details{
        margin-left: 0;
    }
}

/* Discover Section */

.discover .container{
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.discover h2,h3{
    font-weight: 700;
}

.discover p{
    color: #939393;
}

.discover .details1{
    margin-left: 5rem;
}

.discover .details2{
    margin-right: 5rem;
} 

@media screen and (max-width:992px){
    .discover .details1{
        margin-left: 0;
    }
    
    .discover .details2{
        margin-right: 0;
    } 
}

.number{
    color: #fd5f00;
    font-size: 4rem;
}

.block-counter-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Donate Section */

.donate{
    text-align: center;
}
.donate .upper{
    background: rgba(205,165,88,.95);
    height: 400px;
    padding-top: 7rem;
}

.donate .upper h1{
    font-weight: 700; 
}

.donate .upper .btn{
    background-color: #fd5f00;
    border-color: #fd5f00;
}

.donate .mid h3{
    color: #fd5f00;
}

.donate .mid .container{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.donate .mid p{
    color: #939393;
}

.leadership{
    margin-bottom: 7rem;
}

.leadership h2{
    font-weight: 700;
    font-size: 3rem;
}

.leadership p, span{
    color: #939393;
}

.leadership .details{
    border: 1px solid #939393;
}

.leadership img{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.leadership .block-social-1{
    margin-bottom: 2rem;
}

.leadership .svg{
    color: #fd5f00;
}

.testimonial{
    background: rgba(205, 165, 88, 0.95);
}

.testimonial .container{
    padding-top: 6rem;
}

.testimonial h1{
    font-size: 3rem;
}

.testimonials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.testimonials p{
    border: 1px solid white;
    background-color: white;
    font-style: italic;
    font-weight: 700;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.testimonials h5{
    color: white;
    font-weight: 700;
}

/* Contact Section */

.contact{
    color: #939393;
}

.contact .container{
    margin-top: 4.5rem;
}

.contact h2{
    font-size: 2.5rem;
    font-weight: 700;
}

.contact .btn{
    background-color: #fd5f00;
    border: #fd5f00;
}